body {
    font-family: 'Montserrat', sans-serif;
}

.main_div {
    display: flex;
    flex-direction: row-reverse;
    background-color: #F5F7FA;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.left_block {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px 
}

.photo {
    width: 370px
}

.contacts {
    padding-left: 40px;
    padding-top: 50px;
}

.ce {
    padding-right: 5px;
    width: 26px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.link_phone {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}


.tech_skills {
    padding-left: 40px;
    margin-top: 50px;
}


.left_block_title { color: #FFFFFF;
    margin-bottom: 10 px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.soft_skills {
    margin-top: 45px;
    padding-left: 40px;
}

.skills_ul { color: #FFFFFF;
    padding-left: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.skills_li { color: #FB6D3A;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.skills_item { color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.main_content {
    padding-left: 90px;
    padding-top: 105px;
    padding-bottom: 105px;
    background-color: #FFFFFF;
}


.skills_div {
    color: #FFFFFF;
}

.about {
    width: 400px;
    height: 230px;
}

.about_position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.about_name {
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
}

.about_description {
    margin-top: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects {
    margin-top: 40px;
    width: 485px;
    height: 107px;
}

.projects_title {
    margin-top: 40px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.projects_ol {
    padding: 0;
    margin-left: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.projects_li,
.project_bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.projects_link {
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;     
}

.projects_item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.we_title {
    margin-top: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.we_item_title {
    margin-top: 1px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000
}

.we_job_name {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.dates {
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;    
}

.dates_I {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.we_ul {
    padding: 0;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 220px;    
    width: 509px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.we_li {
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.edu_title {
    margin-top: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.edu_place_name {
    margin-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.edu_spec {
    margin-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.edu_dates {
    margin-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}